﻿@using Dev.MT.Domain.Models
@model Dev.MT.ViewModels.LeaveDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details #@Model.LeaveId</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th class="text-right" style="width: 100px;">No.</th>
                    <td>#@Model.LeaveId</td>
                </tr>
                <tr>
                    <th class="text-right">Note</th>
                    <td>@Model.Note</td>
                </tr>
                <tr>
                    <th class="text-right">Job Grade</th>
                    <td>@Model.JobGrade</td>
                </tr>
                <tr>
                    <th class="text-right">Hours</th>
                    <td>
                        <strong>@Model.Hours hours</strong><br />
                        <span>@Model.Start.ToString("ddd, dd MMM")</span><br />
                        <span>@Model.End.ToString("ddd, dd MMM")</span>
                    </td>
                </tr>
                <tr>
                    <th class="text-right">State</th>
                    <td>@{Html.RenderPartial("_LeaveState", Model.State);}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        @if (Model.State == LeaveState.Draft)
        {
            using (Html.BeginForm("Submit", "Leave", new { Model.LeaveId }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ActionLink("Back to list", "Index", "Leave", new { }, new { @class = "btn btn-link" })
                <input type="submit" class="btn btn-primary" value="Submit" />
            }
        }
        else if (Model.State == LeaveState.Submitted)
        {
            using (Html.BeginForm("Cancel", "Leave", new {Model.LeaveId}, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ActionLink("Back to list", "Index", "Leave", new {}, new {@class = "btn btn-link"})
                <input type="submit" class="btn btn-danger" value="Cancel"/>
            }
        }
        else
        {
            @Html.ActionLink("Back to list", "Index", "Leave", new { }, new { @class = "btn btn-link" })
        }
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <hr />
        @foreach (var item in Model.Activities.OrderByDescending(x => x.Date))
        {
            <div class="media">
                <div class="media-body">
                    <p><span class="glyphicon glyphicon-time"></span> @item.Date.ToString("ddd, dd MMM HH:mm")</p>
                    <h4 class="media-heading">@item.Description</h4>
                </div>
            </div>
        }
    </div>
</div>
